<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gujun.mes201.dao.UserMapper">

    <select id="getById" resultType="user" parameterType="int">
        select
            uId,username,password
        from
            user_tab
        where
            uId=#{uId}
    </select>

    <select id="getByName" resultType="user" parameterType="string">
        select
            uId,username,password,phone
        from
            user_tab
        where
            username=#{username}
    </select>

    <select id="getAll" resultType="user">
        select
            uId,username,password
        from
            user_tab
    </select>

    <select id="getCount" resultType="int">
        select
            count(*)
        from
            persistent_logins
    </select>

    <select id="list" resultType="pd" parameterType="pd">
        select
            a.uId,a.username,a.phone,c.rName as roleName
        from
            user_tab as a
        left join user_role_tab as b on b.uId=a.uId
        left join role_tab as c on c.rId=b.rId
        <where>
            <if test="username!=null and username!=''">
                a.username like concat('%',#{username},'%')
            </if>
        </where>
    </select>

</mapper>